/* id */
#brand {
  text-transform: capitalize;
  margin: 5% 0;
  font-size: 26pt;
}

/* fallback */
body {
  font-display: block;
}

/* scrollbar*/
.scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: #f5f5f5;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar {
  width: 10px;
  background: #f5f5f5;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(to right, #000000, #434343);
}

fieldset {
  border: none;
}

.col.s12 .full-btn {
  width: 100%;
}