/* component */
stack-card {
  --image-shadow: #fff;
  --card-btn-width: 40%;
  --card-btn-height: 50px;
  --card-btn: #000;
  --background-glass: rgba(255, 255, 255, 0.2);
}

/* info content */
.content {
  overflow: auto;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 8px;
  margin-top: 1vh;
}
