/* class */
.logo {
  width: 32px;
  height: 32px;
}

/* table */
.table-fixed {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  overflow-y: scroll;
  height: 424px;
  border-collapse: collapse;
}

.table-fixed thead th {
  position: sticky;
  background: black;
  top: 0;
}

/* tags */

table tbody td {
  font-size: 10pt;
}
