.warn, .error {
  display: block;
  width: 98%;
  height: auto;
  margin-bottom: 12px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.code, .msg-details {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.msg-details {
  display: block;
}

.code {
  font-weight: 200;
  overflow: auto;
}

.results-validator {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  overflow: auto;
  height: 60vh;
  margin-top: 8px;
}

.warn {
  background-color: #ff0;
}

.error {
  background-color: #f00;
}

