/* table */
.movie-list {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  overflow: auto;
  height: 60vh;
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". .";
  gap: 12px 10px;
}

.card {
  color: #fff;
  background: rgba( 0, 0, 0, 0.35 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-header {
  text-align: center;
}

.card-image {
  width: 250px;
  height: 200px;
  object-fit: contain;
}

.movie-synopsis, .movie-time {
  margin-left: 5px;
  white-space: pre;
}

.card-title {
  margin-left: 0.5vw;
}

.movie-synopsis {
 white-space: pre-wrap;
 word-wrap: break-word;
}

.card-content {
  margin-left: 1vw;
}
