/* table */
.movie-list {
  scrollbar-width: thin;
  scrollbar-color: #fff #000;
  overflow: auto;
  height: 60vh;
  margin-top: 1vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". .";
  gap: 12px 10px;
}