.container {
  height: 85vh;
  overflow: auto;
  display: grid;
  grid-template-areas: "cpu os ram"
    "disk controller controller"
    "disk display display";
  gap: 0.5rem;
}

.modal {
  --background-glass: rgba(255, 255, 255, 0.18);
  max-width: 80%;
  margin-inline: auto;
}

disk-info, controller-info, display-info {
  overflow: auto;
}

.modal-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

cpu-info {
  grid-area: cpu;
}

ram-info {
  grid-area: ram;
}

disk-info {
  grid-area: disk;
}

os-info {
  grid-area: os;
}

controller-info {
  grid-area: controller;
}

display-info {
  grid-area: display;
}
