.fields {
  display: grid;
  grid-template-areas: "users users"
  "token client"
  "submit submit";
}

.user {
  grid-area: users;
}

.pass-token {
  grid-area: token;
}

.pass-client {
  grid-area: client;
}

.btn-field {
  grid-area: submit;
}

.twitch-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  height: 60vh;
  margin-top: 1vh;
  overflow: auto;
}
