.albums {
	height: 70vh;
	overflow: auto;
	margin-top: 10px;
}

.album {
	display: grid;
	grid-template-areas: 
		"img title"
		"img list";
	margin-bottom: 8px;
	padding: 10px;
	color: #fff;
}

.album-img {
	grid-area: img;
	display: block;
	border-radius: 7%;
	width: 128px;
}

.album-title {
	grid-area: title;
	margin-block: 8px;
	font-size: 1.1em;
}

.album-desc {
	margin: 0;
	padding: 0;
	grid-area: list;
}
